<div class="header w-nav" data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" data-w-id="b76c3a98-fc11-54a6-0614-38137c920ea3" role="banner" style="opacity: 1;">
  <div class="container-default w-container">
    <div class="header-content">
      <a class="header-logo w-nav-brand" href="/home-pages/home-v1">
        <img alt="Logo Icon - Boltzmenn Strategists" loading="eager" src="https://i.ibb.co/Z6m4ws4V/boltz21.png">
      </a>
      <div class="header-right-side">
        <div class="nav-menu-desktop">
          <a aria-label="Home" class="nav-link" href="/home-pages/home-v1">
            <div class="text-paragraph2 mid">Solutions</div>
          </a>
          <a aria-label="About" class="nav-link" href="/company-pages/about">
            <div class="text-paragraph2 mid">Case studies</div>
          </a>
          <a aria-label="Portfolio" class="nav-link" href="/portfolio-pages/portfolio-v1">
            <div class="text-paragraph2 mid">Community</div>
          </a>
          <a aria-label="Blog" class="nav-link" href="/blog-pages/blog-v1">
            <div class="text-paragraph2 mid">Insights</div>
          </a>
          <a aria-label="About" class="nav-link" href="/blog-pages/blog-v1">
            <div class="text-paragraph2 mid">About us</div>
          </a>
        </div>
        <a class="secondary-button bg-move w-inline-block" href="/portfolio-pages/portfolio-v1">
          <div class="button-text">View portfolio</div>
          <div class="arrow-button-icon-wrapper w-embed">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M3.33337 8H12.6667" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M8.66663 4L12.6666 8L8.66663 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </div>
        </a>
        <div class="menu-button w-nav-button" aria-label="menu" role="button" tabindex="0" aria-controls="w-nav-overlay-0" aria-haspopup="menu" aria-expanded="false">
          <div class="icon-wrapper">
            <div class="line-menu first"></div>
            <div class="line-menu second"></div>
            <div class="line-menu third"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="nav-menu w-nav-menu" role="navigation">
    <a class="nav-link w-nav-link" href="/home-pages/home-v1" aria-current="page">Solutions</a>
    <a class="nav-link w-nav-link" href="/company-pages/about">Case studies</a>
    <a class="nav-link w-nav-link" href="/portfolio-pages/portfolio-v1">Community</a>
    <a class="nav-link w-nav-link" href="/blog-pages/blog-v1">Insights</a>
    <a class="nav-link w-nav-link" href="/blog-pages/blog-v1">About us</a>
    <a class="primary-button w-button" href="/portfolio-pages/portfolio-v1">View portfolio</a>
  </nav>
  <div class="w-nav-overlay" data-wf-ignore="" id="w-nav-overlay-0"></div>
</div>
